/* header section  */

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #FFF;
}

.ulNav {
    display: flex;
    column-gap: 24px;
    align-items: center;
}


.ulNav .navLi {
    font-family: 'Inter500';
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0.1px;
    color: #000000;
}

.burgerBar {
    display: none;
}

.headerAction {
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter700';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #F3F3F3;
}





/* media query 
(header section) */

@media (max-width: 1024px) {}


@media (max-width: 744px) {}


@media (max-width: 375px) {
    .navigation {
        display: none;
    }

    .headerAction {
        display: none;
    }

    .burgerBar {
        display: block;
    }
}


/* sofa section  */

.sofaSection {
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    column-gap: 130px;
    align-items: center;
    height: 777px;
}

.textDiv {
    width: 490px;
}

.darkTitle {
    font-family: 'Inter900';
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: left;
    color: #000;
    margin-bottom: 14px;
}

.sofaP {
    font-family: 'Inter400';
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #000;
    margin-bottom: 40px;
}

.sofaImageDiv {
    width: 490px;
}

.sofaImage {
    width: 100%;
}

.action {
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter700';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #F3F3F3;
}

.actionDiv {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.actionP {
    width: 236px;
    font-family: 'Inter600';
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #000;
}


/* media query 
(sofa section) */

@media (max-width: 1024px) {
    .sofaSection {
        flex-direction: column;
        gap: 130px;

    }

    .textDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .sofaImageDiv {
        width: 100%;
    }

    .actionP {
        width: 100%;
    }

}

@media (max-width: 744px) {
    .actionDiv {
        flex-direction: column;
    }

}




















/* feature section  */

.featureSection {
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
    width: 1, 440px;
    padding: 64px 150px 64px 150px;
    gap: 30px;
}


.featureDiv {
    width: 360px;
    height: 116.2px;
    gap: 16px;
}

.featureTitle {
    display: flex;
    align-items: center;
    column-gap: 16px;
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Inter700';
    margin-bottom: 16px;
}

.featureP {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-family: 'Inter400';
    color: #000000;
}




/* media query 
(feature section) */

@media (max-width: 1024px) {}


@media (max-width: 744px) {}


@media (max-width: 375px) {}








/* shelf section */

.shelfSection {
    display: flex;
    background-color: #000;
}

.shelfDiv {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 96px;
}

.divFlex {
    display: flex;
    align-items: center;
    column-gap: 133px;
}


.shelfImageDiv {
    width: 503.5px;
}

.shelfImage {
    width: 100%;
}

.textDiv {
    width: 503.5px;
}

.shelfP {
    font-family: 'Inter900';
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.shelfText {
    font-family: 'Inter400';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #FFFFFF;
}

.shelfText .text-children {
    margin-bottom: 8px;
}

.shelfTextP {
    margin-bottom: 16px;
}


/* media query 
(shelf section) */

@media (max-width: 1024px) {
    .divFlex {
        flex-direction: column;
        row-gap: 64px;
    }

    .shelfImageDiv {
        width: 100%;
    }

    .textDiv {
        width: 100%;
        display: flex;
        column-gap: 129px;
    }

    .shelfP {
        width: 415.5px;
    }

    .shelfTextP {
        width: 415.5px;
    }
}

@media (max-width: 744px) {
    .textDiv {
        flex-direction: column;
        text-align: center;
    }

    .shelfP {
        width: 100%;
        text-align: center;
    }

    .shelfText {
        width: 100%;
        text-align: center;
    }

    .shelfTextP {
        width: 100%;
        text-align: center;
    }

    .divFlex {
        row-gap: 29px;
    }

}

@media (max-width: 375px) {
    .textDiv {
        margin-bottom: 24px;
    }

    .shelfP {
        font-size: 16px;
    }

    .shelfTextP {
        font-size: 14px;
    }

    .shelfText .text-children {
        font-size: 14px;
    }


}




/* woodenCloset image section */
.woodenClosetImage {
    width: 100%;
}

.imageAction {
    width: 84px;
    height: 40px;
    border-radius: 32px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter700';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #000;
}

.ImageActionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageTitle1 {
    font-family: 'Inter500';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #FFF;
}


.imageTitle2 {
    font-family: 'Inter900';
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #FFF;
}

.woodenClosetDiv {
    position: relative;
}

.imageTextDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* media query 
(woodenCloset image section) 
*/

@media (max-width: 1024px) {}


@media (max-width: 744px) {}


@media (max-width: 375px) {}





/* footer section */

.footerListsDiv {
    height: 144px;
}

.footerContent {
    background-color: #000;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    height: 336px;
}

.firstSecondThirdTitles {
    margin-bottom: 16px;
}

.listGap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footerTitles {
    font-family: 'Inter700';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFF;
    text-align: left;
}

.footerList {
    font-family: 'Inter400';
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    text-align: left;
}

.footerP {
    font-family: 'Inter400';
    font-size: 14px;
    line-height: 20px;
    color: #595959;
    opacity: 0.4px;
    text-align: left;
}


.lastFooterDiv {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 228px;
    gap: 24px;
}












/* media query 
(footer section) 
*/


@media (max-width: 1024px) {}





@media (max-width: 744px) {}


@media (max-width: 375px) {}